$content-width: 40%;
$accent-color: #1b6ec6;

@mixin workout-card {
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  margin: 10px 0;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  box-shadow: 4px 2px 8px #b2b2b2;

  h3 {
    font-weight: 700; 
    text-align: left;
    font-size: 1.3rem;
  }
}
