$content-width: 35rem;

@mixin workout-card {
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

$accent-color: #0313fc;
