$content-width: 45%;
$accent-color: #1b6ec6;
$divider-color: #ebebeb;
$text-color: #2c3e50;

@mixin workout-card {
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  margin: 10px 0;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  box-shadow: 4px 2px 8px #b2b2b2;

  h3 {
    font-weight: 700; 
    text-align: left;
    font-size: 1.3rem;
  }
}

@mixin input-field { 
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  outline: none;

  &:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid lighten($accent-color, 20%);
    background-color: #fff;
    }
}

@mixin divider { 
  height: 80%;
  border-top: 1.5px solid $divider-color;
}


.v3dp__popout {
  position: fixed !important; 
}

input.datepicker {
  @include input-field;
  text-align: right;
  max-width: 4.5rem;
}


