$content-width: 45%;
$accent-color: #1b6ec6;
$divider-color: #ebebeb;
$text-color: #2c3e50;
$background-color: #EFEFEF; 
$delete-color: #c42938;
$go-color: #3bc61b;

@mixin workout-card {
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    margin: 10px 0;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    box-shadow: 4px 2px 8px #b2b2b2;

    h2 {
        font-weight: 700; 
        text-align: left;
        font-size: 1.3rem;
    }
}

@mixin input-field { 
    font-family: 'Open Sans';
    border: none;
    border-bottom: 2px solid #d1d1d1;
    outline: none;

    &:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid lighten($accent-color, 20%);
        background-color: #fff;
    }
}

@mixin divider { 
    height: 80%;
    border-top: 1.5px solid $divider-color;
}

@mixin button {
    border: 2px solid lighten($accent-color, 5%); 
    padding: 0.35rem;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 0.5rem;
    font-family: 'Open Sans';
    font-weight: 400;
    color:  $text-color;
    outline: none;

    &:hover {
        transition: all 200ms linear;
        background-color: lighten($accent-color, 5%); 
        color: #fff;
    }
}


.v3dp__popout {
    position: fixed !important; 
}

input.datepicker {
    @include input-field;
    text-align: right;
    max-width: 4.5rem;
}

@mixin header {
    text-align: left;
    font-weight: 800;
}


